<div class="flex h-screen bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col flex-1 w-full">
        <main class="h-full overflow-y-auto">
            <div class="container px-6 mx-auto grid">
                <div class="lg:flex lg:items-center lg:justify-between">
                    <div class="flex-1 min-w-0 ">
                        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate mt-[30px] ">
                            Thêm Danh Mục
                        </h2>
                        
                    </div>
                    <div class="mt-5 flex lg:mt-0 lg:ml-4">
                        <span class="sm:ml-3">
                                        <a routerLink="/admin/category" class="no-underline" >
                                            <button type="button" class=" inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                Quay lại
                                            </button>
                                        </a>
                                    </span>
                    </div>
                </div>
                <div class="flex flex-col my-[20px]">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">

                                <div class="container mt-2">
                                    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                                        <div class=" col-span-6 sm:col-span-4 py-[30px] ">
                                            <label class="block text-sm font-medium text-gray-700 ">Tên Danh Mục</label>
                                            <input type="text " class="form-control " id="" formControlName="name" placeholder="">

                                            <app-show-validate [field]="categoryForm.get('name')" key="Tên sản phẩm" class="text-[15px]"></app-show-validate>
                                        </div>
                                        <button type="button " class="btn btn-success ml-[20px] my-[30px] px-[30px] bg-[#198754] " [disabled]="!categoryForm.valid">Lưu</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>